<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1>Extracting Stock Data Using a Web Scraping</h1>

Not all stock data is available via API in this assignment; you will use web-scraping to obtain financial data. You will be quizzed on your results.  
 Using beautiful soup we will extract historical share data from a web-page.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Downloading the Webpage Using Requests Library</li>
        <li>Parsing Webpage HTML Using BeautifulSoup</li>
        <li>Extracting Data and Building DataFrame</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

In [ ]:
#!pip install pandas
#!pip install requests
#pip install bs4
!pip install plotly

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

## Using Webscraping to Extract Stock Data

Use the `requests` library to download the webpage [https://finance.yahoo.com/quote/AMZN/history?period1=1451606400&period2=1612137600&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true](https://finance.yahoo.com/quote/AMZN/history?period1=1451606400&period2=1612137600&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ). Save the text of the response as a variable named `html_data`.

In [33]:
url = 'https://yhoo.it/3nJ7JmA'
html_data = requests.get(url).text

Parse the html data using `beautiful_soup`.

In [34]:
soup = BeautifulSoup(html_data, 'html5lib')

<b>Question 1</b> what is the content of the title attribute:

In [35]:
soup.find("title").string

'Amazon.com, Inc. (AMZN) Stock Historical Prices & Data - Yahoo Finance'

Using beautiful soup extract the table with historical share prices and store it into a dataframe named `amazon_data`. The dataframe should have columns Date, Open, High, Low, Close, Adj Close, and Volume. Fill in each variable with the correct data from the list `col`. 

Hint: Print the `col` list to see what data to use

In [36]:
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

for row in soup.find("tbody").find_all("tr"):
    col       = row.find_all("td")
    date      = col[0].text
    Open      = col[1].text
    high      = col[2].text
    low       = col[3].text
    close     = col[4].text
    adj_close = col[5].text
    volume    = col[6].text
    
    amazon_data = amazon_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

Print out the first five rows of the `amazon_data` dataframe you created.

In [37]:
amazon_data.head(5)

           Date      Open      High       Low     Close     Volume Adj Close
0  Apr 30, 2021  3,525.12  3,554.00  3,462.50  3,467.42  7,001,800  3,467.42
1  Apr 29, 2021  3,505.10  3,514.45  3,435.00  3,471.31  7,682,400  3,471.31
2  Apr 28, 2021  3,434.80  3,489.88  3,425.00  3,458.50  4,631,900  3,458.50
3  Apr 27, 2021  3,443.47  3,460.00  3,398.01  3,417.43  3,827,100  3,417.43
4  Apr 26, 2021  3,348.00  3,428.45  3,330.94  3,409.00  4,880,700  3,409.00

<b>Question 2</b> What is the name of the columns of the dataframe

In [65]:
amazon_data.iloc[-1]

Date         Dec 07, 2020
Open             3,156.48
High             3,180.76
Low              3,141.69
Close            3,158.00
Volume          2,751,300
Adj Close        3,158.00
Name: 99, dtype: object

<b>Question 3</b> What is the `Open` of `Dec 31, 2020` of the dataframe?

In [67]:
amazon_data.loc[amazon_data['Date'] == 'Dec 31, 2020', 'Open']

82    3,275.00
Name: Open, dtype: object